/*Rolando Moreno
Web Developer
01.04.2015

developer@rolandomoreno.com
Revision 0.4
*/
body {
    padding-top: 87px;
}

#mainCarousel {
    background-color: #000;
}

.featureText h2, p {
    font-family: 'Oswald', sans-serif;
}

.team h1 {
    color: #fff;
    font-size: 72px;
    text-align: center;
}

.team {
    font-family: 'Oswald', sans-serif;
    background-color: #000;
    padding-top: 25px;
}

.team .thumbnail {
    min-height: 650px;
}

.team .captionButton {
    position: absolute;
    bottom: 25px;
}

.brand {
    font-family: 'Oswald', sans-serif;
    background-color: #000;
    padding-top: 25px;
}

.blog {
    font-family: 'Oswald', sans-serif;
    background-color: #000;
    padding-top: 25px;
    padding-bottom: 25px;
}

.blog h1 {
    color: #fff;
    font-size: 72px;
    text-align: center;
}

.blog h3 {
    text-align: center;
}

.contactus {
    font-family: 'Oswald', sans-serif;
    background-color: #000;
    padding-top: 25px;
    padding-bottom: 25px;
}

.contactus h1 {
    color: #fff;
    font-size: 72px;
    text-align: center;
}

.store {
    font-family: 'Oswald', sans-serif;
    background-color: #000;
    padding-top: 25px;
    padding-bottom: 25px;
}

.store h1 {
    color: #fff;
    font-size: 72px;
    text-align: center;
}