/*Rolando Moreno
Web Developer
Last modified: 09.01.2015

developer@rolandomoreno.com
Revision 0.4
*/

.navList a {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
    transition: ease 0.25s;
    padding-left: 25px;
    padding-right: 25px;
}

.navList a:hover {
    color: red;
}

.navbar {
    background-image: url("../images/mps_header_version_three.png");
    background-position: center;
    background-size: auto;
    background-color: rgba(0,0,0,0.0);
    text-align: center;
    margin-bottom: 0px;
    border: 0px;
    padding-bottom: 80px;
    background-repeat: no-repeat;
}

.navList li {
    display: inline;
}

#navMargin {
    margin-top: 35px;
}

.storeColor a {
    color: #1F87B2;
}